@page
@using IT_Career_GR.Common.Services.Abstractions
@inject ICustomLocalizer localizer
@model RegisterModel
@{
    ViewData["Title"] = localizer["Register"];
}

<link rel="stylesheet" href="~/css/authentication.css"/>
<link rel="stylesheet" href="~/css/common.css"/>

<div class="it-login-block">
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <p class="it-login-desc">@localizer["RegisterNewAccount"]</p>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control it-text-input" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control it-text-input" autocomplete="new-password" aria-required="true" />
                <label>@localizer["Password"]</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control it-text-input" autocomplete="new-password" aria-required="true" />
                <label>@localizer["ConfirmPassword"]</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-danger">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</div>
